<p id="notice"><%= notice %></p>
<blockquote>
  <p>
    <strong>Title:</strong>
    <%= @post.title + " " + @post.fact.to_s %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @post.body %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= @post.published %>
  </p>
</blockquote>
<%= link_to edit_post_path(@post), title: "edit" do %>
  <i class="icon icon-edit"></i>
<% end %>|
<%= link_to posts_path, title: "back" do %>
  <i class="icon icon-back"></i>
<% end %>
